.current {
    color: #2aabd2;
}

.page {
    width: 20px;
}

.opacity {
    opacity: 1;
    transform: translate(0, 0);
}

.scroll-top {
    cursor: pointer;
    position: fixed;
    box-sizing: border-box;
    right: 2em;
    bottom: 220px;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #42b983;
    border-radius: 20px;
    transform: translate(80px, 0);
    transition: all 0.3s ease;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
    opacity: 0;
}
.arrow-icon{
    background-image: url("../images/top.png");
    width: 30px;
    height: 30px;
    display: block;
    background-size: contain;
}